</script>
</head>
<body ng-controller="MyCtrl">
  <ion-header-bar class="bar-positive">
  <h1 class="title">开启旅程</h1>
  <div class="buttons">
    <button class="button ion-refresh" ng-click="reloadPage()"></button>
  </div>
</ion-header-bar>
<ion-content>
<ion-list can-swipe="listCanSwipe"  show-delete="data.showDelete" show-reorder="data.showReorder">
<ion-item ng-repeat="item in items" 
item="item"
href="{{ item.product_id }}.html?device_id={{ item.device_id }}&access_token={{ access_token }}&alias={{ item.alias }}" class="item-remove-animate">
<i ng-if="item.state==1" class="icon ion-record positive" ></i><i ng-if="item.state==0" class="icon ion-record assertive" ></i> {{ item.alias }}<br>
<span class="item-note">ID : {{ item.device_id }}</span>
<ion-option-button class="button-assertive"
ng-click="showPopup(item)">
Edit
</ion-option-button>
</ion-item>
</ion-list>
</ion-content>
</body>
</html>
